@import 'assets';

.home-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 0;
    background: $white;
}

.header-container {
    width: 100%;
    margin: 105px 0 0 0;
    height: auto;
    padding: 25px 0 5px 0;
    display: flex;
    flex-flow: column;
    background: $dBlue;
    position: relative;
    border: 1px solid $white;
    box-shadow: 1px 0px 5px $dark;
}
.home-header-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
}

.header {
    font-family: $sans;
    color: $white;
    font-size: 40px;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.home-header {
    position: relative;
    color: $white;
    font-family: $sans;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: auto;
    z-index: 2;
    font-weight: 600;
}

.home-header2 {
    font-family: $sans;
    font-size: 30px;
    color: $off;
    margin: 0;
    padding: 10px 20px;
}

#home-video {
    width: 50vw;
    height: 28vw;
    max-width: 700px;
    max-height: 394px;
    min-width: 300px;
    min-height: 168.75px;
    display: block;
    margin: 10px auto 25px auto;
    z-index: 2;
}

.home-address-link {
    font-family: $sans;
    font-size: 30px;
    color: $darker;
    text-decoration: none;
    text-align: center;
    margin: 7px auto;
    padding: 0;
    z-index: 2;
    font-weight: 500;
}

.home-address-link:hover {
    color: $blue;
    text-decoration: underline;
}

.home-button-row {
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    justify-items: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.home-contact-button {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    font-family: $sans;
    font-size: 20px;
    color: $off;
    background: $dBlue;
    font-weight: 500;
    margin: 15px auto;
    transition: all .3s ease;
    border: 1px solid $white;
    line-height: 25px;
    i {
        padding-left: 5px;
    }
}
.home-contact-button:hover {
    line-height: 20px;
    transform: scale(1.05);
    box-shadow: 1px 1px 5px rgba(93, 92, 97, .2);
}

.home-bottom-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    align-items: flex-start;
    margin: 25px auto 0 auto;
    padding-bottom: 75px;
    position: relative;
    height: auto;
    width: 100%;
}
.home-bottom-column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 15px;
}
.home-gallery-container {
    margin: 0;
    padding: 0;
}
.home-about-section {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.header2 {
    font-family: $sans;
    font-size: 30px;
    color: $dark;
    font-weight: 500;
    text-align: left;
    margin:  0;
    padding: 0;
}
#home-margin {
    margin-top: 25px;
}
.home-list {
    display: flex;
    flex-flow: column;
    list-style-type: circle;
    li {
        font-family: $sans;
        font-size: 25px;
        color: $dark;
    }
}

.home-list2 {
    display: flex;
    flex-flow: column;
    width: auto;
    list-style-type: circle;
    li {
        font-family: $sans;
        font-size: 25px;
        color: $dark;
    }
}

@media only screen and (max-width: 1150px) {
    .header {
        font-size: 35px;
    }
    .home-header {
        font-size: 30px;
        font-weight: 500;
    }
    .home-header2 {
        font-weight: 500;
    }
}

@media only screen and (max-width: 1000px) {
    #home-video {
        width: 90vw;
        height: 50.625vw;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        font-size: 30px;
    }
    .home-header {
        font-size: 25px;
    }
    .home-header2 {
        font-size: 25px;
    }
    .header2 {
        font-size: 25px;
    }
    .home-list li {
        font-size: 20px;
    }
    .home-list2 li {
        font-size: 20px;
    }
    .home-bottom-section {
        flex-flow: column;
        align-content: center;
        align-items: center;
    }
    .home-about-section {
        flex-flow: row;
    }
    #home-margin {
        margin-top: 0;
    }
}

@media only screen and (max-width: 800px) {
    .home-address-link {
        font-size: 22px;
    }
}

@media only screen and (max-width: 750px) {
    .home-bottom-section {
        flex-flow: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 25px;
    }
    .home-header2 {
        font-size: 20px;
    }
    .home-header {
        font-size: 20px;
    }
    .header2 {
        font-size: 20px;
    }
    .home-list li {
        font-size: 18px;
    }
    .home-list2 li {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
    .home-about-section {
        flex-flow: column;
    }
}

@media only screen and (max-width: 475px) {
    .home-header-row {
        width: 300px;
        margin: 0 auto;
        justify-content: space-evenly;
        justify-items: space-evenly;
        padding: 0;
    }
    .home-address-link {
        width: 275px;
    }
    .home-contact-button {
        margin: 5px auto;
        width: 150px;
    }
    .header {
        font-size: 22px;
    }
    .home-header {
        font-size: 18px;
    }
    .home-header2 {
        padding: 10px 0;
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {
    #home-video {
        width: 99vw;
        height: 56vw;
    }
    .home-address-link {
        margin: 10px auto;
    }
    .home-contact-button {
        margin: 10px auto;
    }
    .header {
        font-size: 20px;
    }
    .home-header {
        font-size: 16px;
    }
    .home-header2 {
        font-size: 18px;
    }
}