@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Maven+Pro:400,500|Oxygen|Playfair+Display:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spectral:400,500,600,700&display=swap");
.home-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;
  background: #f5f7f6;
}

.header-container {
  width: 80%;
  max-width: 1200px;
  min-width: 290px;
  margin: 150px auto 15px auto;
  height: auto;
  padding: 5px;
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  border-radius: 25px;
  background: #0070C9;
  position: relative;
  border: 1px solid #f5f7f6;
}

.home-header-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-items: center;
}

#home-logo {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 15px;
  left: 25px;
}

.header {
  font-family: "Maven Pro", sans-serif;
  color: #f5f7f6;
  font-size: 40px;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.home-header {
  position: relative;
  color: #f5f7f6;
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  width: auto;
  z-index: 2;
  font-weight: 600;
}

.home-header2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  color: #FAFAFA;
  margin: 0;
  padding: 10px 20px;
}

#home-video {
  width: 50vw;
  height: 28vw;
  max-width: 700px;
  max-height: 394px;
  min-width: 300px;
  min-height: 168.75px;
  display: block;
  margin: 25px auto;
  border: 2px solid #3a3a3a;
  z-index: 2;
}

.home-address-link {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  color: #3a3a3a;
  text-decoration: none;
  text-align: center;
  margin: 7px auto;
  padding: 0;
  z-index: 2;
  font-weight: 500;
}

.home-address-link:hover {
  color: #65BBFD;
  text-decoration: underline;
}

.home-button-row {
  width: 500px;
  max-width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.home-contact-button {
  width: 200px;
  height: 45px;
  border-radius: 25px;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  color: #FAFAFA;
  background: #0070C9;
  font-weight: 500;
  margin: 15px auto;
  transition: all 0.3s ease;
  border: 1px solid #f5f7f6;
  line-height: 25px;
}
.home-contact-button i {
  padding-left: 5px;
}

.home-contact-button:hover {
  line-height: 20px;
  transform: scale(1.05);
  box-shadow: 1px 1px 5px rgba(93, 92, 97, 0.2);
}

.home-bottom-section {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  justify-items: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding-bottom: 75px;
  position: relative;
  height: auto;
  width: 100%;
}

.home-bottom-column {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  width: auto;
  height: auto;
  margin: 0 15px;
  padding: 0 15px;
}

.header2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  color: #5D5C61;
  font-weight: 500;
  text-align: center;
}

.home-list {
  display: flex;
  flex-flow: column;
  list-style-type: circle;
}
.home-list li {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  color: #5D5C61;
}

.home-list2 {
  display: flex;
  flex-flow: column;
  width: auto;
  list-style-type: circle;
}
.home-list2 li {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
  color: #5D5C61;
}

@media only screen and (max-width: 1300px) {
  .header-container {
    width: 90%;
  }
}
@media only screen and (max-width: 1150px) {
  #home-logo {
    width: 100px;
    height: auto;
    top: 25px;
    left: 15px;
  }

  .header {
    font-size: 35px;
  }

  .home-header {
    font-size: 30px;
    font-weight: 500;
  }

  .home-header2 {
    font-weight: 500;
  }
}
@media only screen and (max-width: 1000px) {
  #home-video {
    width: 90vw;
    height: 50.625vw;
  }
}
@media only screen and (max-width: 900px) {
  #home-logo {
    height: 75px;
    width: 75px;
  }

  .header {
    padding-left: 50px;
  }

  .home-header {
    padding-left: 50px;
  }

  .home-header-row {
    padding-left: 50px;
  }

  .header {
    font-size: 30px;
  }

  .home-header {
    font-size: 25px;
  }

  .home-header2 {
    font-size: 25px;
  }

  .header2 {
    font-size: 25px;
  }

  .home-list li {
    font-size: 20px;
  }

  .home-list2 li {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .home-address-link {
    font-size: 22px;
  }
}
@media only screen and (max-width: 750px) {
  .header {
    padding-left: 0;
  }

  .home-header {
    padding-left: 0;
  }

  .home-reader-row {
    padding-left: 0;
  }

  #home-logo {
    display: none;
  }

  .home-bottom-section {
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .header-container {
    width: 95%;
  }

  .header {
    font-size: 25px;
  }

  .home-header2 {
    font-size: 20px;
  }

  .home-header {
    font-size: 20px;
  }

  .header2 {
    font-size: 20px;
  }

  .home-list li {
    font-size: 18px;
  }

  .home-list2 li {
    font-size: 18px;
  }
}
@media only screen and (max-width: 475px) {
  .header-container {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 120px;
  }

  .home-header-row {
    width: 300px;
    margin: 0 auto;
    justify-content: space-evenly;
    justify-items: space-evenly;
    padding: 0;
  }

  .home-address-link {
    width: 275px;
  }

  .home-button-row {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
  }

  .home-contact-button {
    margin: 5px auto;
  }

  .header {
    font-size: 22px;
  }

  .home-header {
    font-size: 18px;
  }

  .home-header2 {
    padding: 10px 0;
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  #home-video {
    width: 99vw;
    height: 56vw;
  }

  .home-address-link {
    margin: 10px auto;
  }

  .home-contact-button {
    margin: 10px auto;
  }

  .header {
    font-size: 20px;
  }

  .home-header {
    font-size: 16px;
  }

  .home-header2 {
    font-size: 18px;
  }
}

/*# sourceMappingURL=home.css.map */
